@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.animate-bounce {
  animation: bounce 1.4s infinite;
}

.delay-150 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.4s;
}
